{% extends 'base.html.twig' %}

{% block title %}Funcionários{% endblock %}

{% block page_title %}Funcionário{% endblock %}

{% block page_sub_title %} Novo {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <a href="{{ path('funcionario_index') }}">
                    <button class="btn btn-primary btn-sm">
                        <span class="fa fa-backward"></span>
                        Voltar
                    </button>
                </a>

            </div>

            <div class="box-body">

                {#{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}#}
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary btn-sm">
                    <span class="fa fa-save"></span>
                    Salvar
                </button>
            {{ form_end(form) }}



{% endblock %}
