{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{{ "{% block title %}Recursos Humanos{% endblock %}" }}

{{ "{% block page_title %}" }} {{ entity_singularized|capitalize }} {{ "{% endblock %}" }}
{{ "{% block page_sub_title %} Novo {% endblock %}" }}


{% block body %}
{{ "{% block content %}" }}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                {% set hide_edit, hide_delete = true, true %}
                {{ include('crud/views/others/record_actions.html.twig.twig') -}}
            </div>

            <div class="box-body">

    {{ '{{ form_start(form) }}' }}
        {{ '{{ form_widget(form) }}' }}
        <button class="btn btn-primary btn-sm">
            <span class="fa fa-save"></span>
            Salvar
        </button>
    {{ '{{ form_end(form) }}' }}

            </div>
        </div>
    </div>
</div>

{{ "{% endblock %}" }}
{% endblock body %}
